In [18]:
x=5
print (x)

5

In [19]:
print (x)   # test

5

In [3]:
naam="" 
print(naam)
f_string=f"mijn naam is {naam}"
name=input('geef je naam:')
print(f_string)

mijn naam is

In [2]:
getal=5
getal_2=int('3')
getal+getal_2

8

In [1]:
prefix='mijn naam:'
naam='rob'
print(prefix+ 'is \n'+naam)

mijn naam:is
rob

math

In [16]:
a=0
for i in range(1,20,5) :
    print (i)
    a+=5

1
6
11
16

In [19]:
#modulo operator
7%4

3

In [20]:
7//4

1

In [22]:
5%0

ZeroDivisionError: integer modulo by zero

In [25]:
def add(term_1, term_2):
    """geef de som van  de argumentern terug"""
    return term_1 + term_2
add(4,5)

9

In [26]:
def add(term_1, term_2=2):
    """geef de som van  de argumentern terug"""
    return term_1 + term_2
add(4)

6

In [27]:
def add(term_1, term_2=2, term_3):
    """geef de som van  de argumentern terug"""
    return term_1 + term_2 + term_3
add(4, term_3=2)

SyntaxError: non-default argument follows default argument (1262706087.py, line 1)

In [28]:
def add(term_1, term_2=2, term_3=9):
    """geef de som van  de argumentern terug"""
    return term_1 + term_2 + term_3
add(4, term_3=2)

8

conditionals

In [ ]:
#if statement
n=4
if n<5:
    print(f"n is kleiner dan 5!")

In [32]:
for i in range (1,21):
    if i%2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is oneven")

1 is oneven
2 is even
3 is oneven
4 is even
5 is oneven
6 is even
7 is oneven
8 is even
9 is oneven
10 is even
11 is oneven
12 is even
13 is oneven
14 is even
15 is oneven
16 is even
17 is oneven
18 is even
19 is oneven
20 is even

In [34]:
i = 0
while i<=20:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
while condition is True:
    print ('true')

In [37]:
lijst= [1,2,3,4,5,6]
for item in lijst:
    print(item)

1
2
3
4
5
6

In [39]:
naam= 'robbe'
for item in naam:
    print(item)

r
o
b
b
e

In [41]:
#tuple
my_tuple= (0,1,2)

In [40]:
my_tuple[2]= 3

NameError: name 'my_tuple' is not defined

tuple en string are imutable

In [42]:
lijst=[1,2,3,4,5,6]
lijst[2]=6
lijst

[1, 2, 6, 4, 5, 6]

In [49]:
item_1, item_2, item_3= my_tuple
item_2

1

In [45]:
def multiply_add(a,b,c):
    multi= a*b*c
    add=a+b+c
    return multi, add

In [47]:
numbers = [10,20,30,40,50,60]
for numbers in numbers:
    if numbers> 50:
        break
    print (numbers)

10
20
30
40
50

In [ ]:
n = 1
while n< 100:
    n += 1
    if n%2 == 0:
        continue
    print(n)

In [51]:
#list
list_1= [1,2,3]
list_2= [4,5,6]
list_3= list_1+ list_2
list_3

[1, 2, 3, 4, 5, 6]

In [52]:
list_1.append(4)
list_1

[1, 2, 3, 4]

In [54]:
name_list = []
myname= 'robbe'
for char in myname:
    name_list.append(char)
name_list

['r', 'o', 'b', 'b', 'e']

In [55]:
len(name_list)

5

In [60]:
short_name = name_list[0:3]
print(short_name)
short_name1 = name_list[:5]
print(short_name1)

['r', 'o', 'b']
['r', 'o', 'b', 'b', 'e']

In [199]:
import random
my_number = random.randint(2,5)
my_number

another_number = random.random()

In [76]:
another_number

0.03240811410803923

In [71]:
round (another_number,2)

0.03

In [82]:
import  random as rd
numbers = rd.randint
numbers

In [100]:
import datetime as dt
now = dt.datetime.now()
now

datetime.datetime(2023, 9, 26, 14, 36, 54, 824050)

In [170]:
#classes
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def greet(self):
        print (f'{self.name} says Hello!')

In [195]:
person = Person('robbe', 25)

In [186]:
person2 = Person('koen', 55)

In [164]:
Person.name

'robbe'

In [163]:
Person.age

25

In [196]:
greeting = person.greet()
greeting

robbe says Hello!

In [191]:
person2.greet()

koen says Hello!

In [197]:
person = [person, person2 ] 
for person in person:
    print(person.greet())

robbe says Hello!
None
koen says Hello!
None

oefeningen

In [ ]:
zin= ''

In [ ]:
#tel het aantal karakters in de zin zonder de ingebouwde len() te gerbuiken

#maak een eenvoudig raadspel waarbij je een input van een getal tussen nul en 10 vraagt vergelijk dit et een random nummer dat je hebt gekozen via de rand module 
#geef feedback aan de gebruiker of hij hoger of lager moet raden run dit in de cmd

In [ ]:
#maak via een if -elif-else statment een toepasing om iemand aan de hand van zijn leeftijd in een bepaalde catogerie te stoppen
#leeftijs < 2 is een baby
#tussen 2 en 4 een kleuter
#tussen 4 en 11 een kind
#tussen 11 en 18 een tiener
#vanaf 18 volwassen

In [ ]:
#maak een list met de volgende kleuren: rood groen blauw geel orangje
#kies een willikeurige kleur via randon module
#vraag de gebruiker een kleeur te raden en geef aan of hij de juist is

In [ ]:
#de faculteit van een getal n is gelijk aan n maal (n-1) maal (n-2) maal .... maal 1 maak een functie om de faculteit van een getal te berekenen

In [ ]:
#maak een lege lijst om nummers in te plaatsen. vraag via input aan de gebruiker 5 numers bereken het gemidelde van de numers en print dit

In [ ]:
#uitdaging (geen prblobleem als dit niet lukt) maak een functie om de vierkantwortel van een getal te berekenen dit doe je door de vermeende wortel
#met zichzelf te vermenigvuldige tot het verschil tussen het getal waarvan je de wortel wil bekomen en de schating kleiner wordt dan een vooraf 
#gedefinieerde factor. je kan gebruik maken van een ruwe schating en dan verder finetunen neem voor de factor vb 0.001 
#vraag input aan de gerbuiker, en gebruik de bovenstaande functie om een antwoord te geven

In [ ]:
#vraag een gebruiker een zin in te voeren print de zin volledig omgekeerd af het eerste karakter wordt het laaste en omgekeerd